.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache

train1_images
train2_images
test_images
train1.csv
train2.csv
test.csv
sample_submission.csv
pig_posture_classes.txt
data_description.md

state
annotations
exports
.env
